<h2>编辑回复规则</h2>

<%= form_for(@response_rule,url: admin_response_rule_path(@response_rule)) do |f| %>
  <% if @response_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_rule.errors.count, "error") %> prohibited this admin_response_rule from being saved:</h2>

      <ul>
      <% @response_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    规则：<%= f.select :rule_id, Rule.all.map {|rule| [rule.name,rule.id]} %><br>
    回复：<%= select("response","msgtype", Response.msgtypes.keys.collect {|msgtype| [I18n.t("msgtype.#{msgtype}"),msgtype]},{include_blank: '选择类型'}) %>
          <%= f.select :response_id,[],{prompt: '选择内容'} %><br>
    <%= f.submit "提交" %>
  </div>
<% end %>

<%= link_to '返回', admin_response_rules_path %>
