<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>规则类型</th>
      <th>回复内容</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_rules.each do |rr| %>
      <tr>
        <td><%= rr.rule.case %></td>
        <td><%= rr.response.msgtype + rr.response.message %></td>
        <td><%= link_to '编辑', edit_admin_response_rule_path(rr) %></td>
        <td><%= link_to '删除', admin_response_rule_path(rr), method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建', new_admin_response_rule_path %>
