<h2>编辑自动回复</h2>

<%= form_for(@response,url: admin_response_path(@response)) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this admin_response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    类型：<%= f.select(:msgtype, Response.msgtypes.keys.map {|msgtype| [I18n.t("msgtype.#{msgtype}"),msgtype]}) %><br>
    内容：<%= f.text_field :message %><br>
    <%= f.submit "提交" %>
  </div>
<% end %>

<%= link_to '返回', admin_responses_path %>
