<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>关键字</th>
      <th>完全匹配</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= rule.keyword %></td>
        <td><%= rule.fullmatch %></td>
        <td><%= link_to '编辑', edit_admin_keyword_rule_path(rule) %></td>
        <td><%= link_to '删除', admin_keyword_rule_path(rule), method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建', new_admin_keyword_rule_path %>
