<h2>新建关键字</h2>

<%= form_for(@rule,url: admin_keyword_rules_path) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this admin_rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    名称：<%= f.text_field :name %><br>
    关键字：<%= f.text_field :keyword %><br>
    完全匹配：<%= f.check_box :fullmatch %><br>
    <%= f.submit "提交" %>
  </div>
<% end %>

<%= link_to '返回', admin_keyword_rules_path %>
